.choose-us-container {
    background-image: url("https://res.cloudinary.com/dozr5pfwt/image/upload/v1739826580/shape-21_cls5yd.png");
    background-size: cover;
    width: 98.9vw;
    height: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative
}

.choose-us-wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto auto auto;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.choose-us-row {
    display: flex;
    justify-content: center;
    row-gap: 100px;
    column-gap: 400px;
    align-items: center;
}


.choose-us-image-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.choose-us-image {
    width: 180px;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.choose-us-image-wrapper:hover .choose-us-image {
    transform: scale(1.1);
}

.choose-us-overlay {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.choose-us-image-wrapper:hover .choose-us-overlay {
    transform: translate(-50%, -50%) scale(1.1);
}


.choose-us-center {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
    height: 150px;
}


.choose-us-center-image {
    width: 400px;
    height: auto;
}

.choose-us-text {
    margin-top: 20px;
}

.choose-us-text:hover {
    color: #3a9e1e;
    cursor: pointer;
}

.choose-us-caption {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-align: center;
    color: #333;
    line-height: 1.5;
    width: 500px;
}
.pulsing-image {
    position: absolute;
    top: 10px; 
    /* bottom: 40px; */
    left: -90px; 
    width: 300px;
    height: auto;
    animation: pulse 2s infinite ease-in-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05); 
    }
    100% {
        transform: scale(1);
    }
}


.recycling-subtitle{
    color: #3a9e1e;
    font-size: 30px;
    /* font-weight: 600; */
    text-transform: uppercase;
    /* margin-bottom: 0.5rem; */
    font-family: 'Poppins', sans-serif;

}